.p-footer {
        color: #fff;
        background-color: #363636;

        ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;

                li {
                        box-sizing: border-box;

                        &:nth-child(1) {

                                padding-left: 3em;
                        }

                        &:nth-child(2) {
                                padding-right: 2.9em;
                                padding-left: 4.6em;
                        }

                }
        }
}