.p-header{
    color: #fff;
background-color: #363636;
padding: 0 5em;
ul{
    display: flex;
    list-style: none;
    
    li{
        margin: 1rem;
        a{
            border: 0;
            appearance: none;
            color: #fff;
            text-decoration: none;
            &:hover{
                color: coral;
                transition: 80ms;
            }
        }
    }
}
}