 /* #Blog
   -------------------------------------------------------------------------- */
 /**
 * ブログページのスタイルです。
 */
 .s-blog {
   position: relative;
   height: max-content;
   
&::before{
  content: url('data:image/svg+xml;utf-8,<svg width="7" height="1899" viewBox="0 0 7 1899" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g style="mix-blend-mode:difference">
  <path d="M3.50024 0.999878L3.50024 1898" stroke="black"/>
  </g>
  </svg>
    ');
    position: absolute;
    top: 5%;
    left: -5%;
}
   ul {
     li {
       list-style: none;
       padding: 2.5em;
       iframe{
         background: none;
       }
     }
   }
 }