 /* #Main
   -------------------------------------------------------------------------- */
/*doc
---
title: main
name: main
categories: [layout]
---

`<main>`タグのスタイルです。ドキュメントのメインコンテンツを示し、ドキュメント内で1つしか記述できません。
<article>タグや<nav>タグなどの中に入れることはできません。

取り扱いの難しいタグなので、使わないという選択をするのもいいでしょう。

```block
<body>
  <main id="l-main">
  </main>
</body>
```
*/
.l-main {
box-sizing: border-box;
padding-top: 5.2rem;
width: 100vw;

display: grid;
grid-template-columns: 77vw 1fr;

&__left{
  
&__hero{
  position: relative;
  &__pic{
img{
  height: 800px;
  width: 100%;
  object-fit: cover;
  object-position: -5em 50%;
}
  }
&__badge{
  position: absolute;
  top: 15%;
  left: 85%;
}
}
}
&__right{
  display: grid;
  grid-auto-rows: 800px 1fr;
}
}
